.weather-app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
}

.widgets-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    row-gap: 20px;
    column-gap: 20px;
}

.widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 20px rgba(119, 119, 119, 0.651);
    min-width: 290px;
}

/* Current weather widgets styling --------------------------------------- */
.current-weather {
    background-color: rgba(58, 149, 190, 0.61);
}

.location-text {
    color: #dfffff;
    font-size: 24px;
}

.day-time {
    font-size: 14px;
    color: rgb(177, 177, 177);
}

.condition-group {
    color: #dfffff;
    display: grid;
    grid-template-areas:
        'condition-icon temperature'
        'condition-icon condition';
    width: fit-content;
}

.condition-icon {
    grid-area: condition-icon;
}

.temperature {
    display: flex;
    grid-area: temperature;
    font-size: 24px;
}

.temperature span {
    align-self: flex-end;
}

.condition-text {
    display: flex;
    grid-area: condition;
}

.condition-text span {
    align-self: flex-start;
}

.weather-inner-widgets-wrapper {
    display: flex;
    text-align: center;
    column-gap: 10px;
}

.weather-inner-widget {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(119, 119, 119, 0.651);
    min-width: 80px;
}

.weather-inner-widget div { 
    padding: 4px 0;
}

.weather-inner-widget-title {
    font-size: 12px;
}

.weather-inner-widght-content {
    font-weight: bold;
}

.feels-like {
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
}

.humidity {
    background-color: rgba(241, 176, 78, 0.842);
}

.visibility {
    background-color: rgba(255, 255, 255, 0.849);
}
/* Forecast widget ------------------------------------------------------- */

.weather-forecast {
    row-gap: 0px;
    color: #dfffff;
    background-color: rgba(128, 17, 231, 0.473);
}

.forecast-title {
    font-size: 24px;
    margin-bottom: 5px;
}

.forecast-bar {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.forecast-bar-item {
    display: flex;
}

.forecast-bar-item > div {
    align-self: center;
}

.forecast-condition-icon {
    max-width: 32px;
    max-height: 32px;
}

.day-condition {
    column-gap: 20px;
}

.day-condition > div {
    min-width: 42px;
}

.low-high {
    column-gap: 20px;
}

.low-high > div:first-child {
    font-size: 14px;
    color: rgb(133, 133, 133);
}

.hour-forcast {
    display: flex;
    column-gap: 40px;
    margin-top: 10px;
    text-align: center;
    height: fit-content;
    width: 290px;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 5px;
}

.hour-forcast::-webkit-scrollbar {
    height: 6px;
}
  
.hour-forcast::-webkit-scrollbar-thumb {
    background-color: rgba(141, 141, 233, 0.452);
    border-radius: 20px;
}
  
.hour-forcast a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}