html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

#photo-banner {
  display: flex;
  align-items: center;
  min-height: 40vh;
  min-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  transition: 3s;
}

#photo-banner-text {
  text-align: center;
  margin: auto;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 4px 4px 3px rgba(48, 43, 43, 0.945);
}

.city-finder {
  width: 680px;
  padding: 10px 0;
}

.footer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  left: 0;
  position: fixed;
  bottom: 10px;
  width: 100%;
  color: white;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 680px) {
  .city-finder {
    width: 330px;
  }
  
  #photo-banner {
    min-height: 20vh;
  }

  #photo-banner-text {
    font-size: 40px;
  }
}
